{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": "commonjs"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        [
            "babel-plugin-replace-import-extension",
            {
                "extMapping": {
                    ".js": ".cjs"
                }
            }
        ]
    ]
}